.App {
    /* padding:10px 10px; */
    /* margin:0 auto; */
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.query {
    display: flex;
    justify-content: space-between;
}
.quick-query {
    display: flex;
}
a[disabled] {
    pointer-events: none;
    color:#999;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center; 
}